<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="App" type="Application" factoryName="Application" nameIsGenerated="true">
    <envs>
      <env name="OPENAI_API_KEY" value="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" />
    </envs>
    <option name="MAIN_CLASS_NAME" value="dev.sethaker.App" />
    <module name="CardGamesv3.0.0" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>